@model NAA.Shared.Model.Application

<h2>Application @Model.University - @Model.CourseName</h2>

<div>
    <h4>Application</h4>
    <hr/>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmed)
        </dd>

        <dt>
            @Html.DisplayName("State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferState)
        </dd>

        <dt>
            @Html.DisplayName("Comment")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University)
        </dd>

        <dt>
            @Html.DisplayName("Course Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayName("Personal Statement")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalStatement)
        </dd>

        <dt>
            @Html.DisplayName("Teacher Reference")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherReference)
        </dd>

        <dt>
            @Html.DisplayName("Teacher Contact")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherContact)
        </dd>

    </dl>

    <div>
        @Html.ActionLink("Generate pdf", "GeneratePdf", new {id = Model.Id})
    </div>

    <div>
        @Html.ActionLink("Back", "Index", new {applicantId = Model.ApplicantId})
    </div>

</div>