@model NAA.Web.Models.ApplicationViewModel

@{
    ViewBag.Title = "GetApplications";
}

<h2>Applications</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Applications[0].Confirmed)
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applications[0].University)
        </th>
        <th>
            @Html.DisplayName("Course Name")
        </th>
    </tr>

@foreach (var item in Model.Applications) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.University)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

@if(Model.Applications.Count < 5)
{
<p>
    @Html.ActionLink("Create New", "GetUniversities", "University", new { applicantId = Model.ApplicantId }, null)
</p>
} else
{
    <p>Allready applied to 5 courses</p>
}

