@model NAA.Web.Models.Application.ApplicationIndexViewModel

<h2>Applications</h2>

@if (Model != null && Model.ApplicationHolders.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Confirmed")
            </th>
            <th>
                @Html.DisplayName("State")
            </th>
            <th>
                @Html.DisplayName("University")
            </th>
            <th>
                @Html.DisplayName("Course Name")
            </th>
        </tr>

        @foreach (var item in Model.ApplicationHolders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Application.Confirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Application.OfferState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Application.University)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Application.CourseName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Application.Id })
                    @if (item.CanEditApplication)
                    {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Edit", "Edit", new { id = item.Application.Id })
                        @Html.Raw(" | ")
                        @Html.ActionLink("Delete", "Delete", new { id = item.Application.Id })
                    }
                    @if (item.CanAcceptApplication)
                    {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Confirm", "Confirm", new { id = item.Application.Id })
                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    <h3>You haven't applied yet</h3>
}

<p>
    @Html.ActionLink("Edit Profile", "Edit", "Applicant", new { id = Model.ApplicantId }, null) |
    @if (Model.CanAddApplications)
    {
        @Html.ActionLink("Create New Application", "University", "Apply", new { applicantId = Model.ApplicantId }, null)
    }
    else
    {
        @Html.Raw(Model.CanNotAddApplicationsReason)
    }
</p>
