@model NAA.Web.Models.Application.ApplicationIndexViewModel

@{
    ViewBag.Title = "GetApplications";
}

<h2>Applications</h2>

@if (Model != null && Model.Applications.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].Confirmed)
            </th>
            <th>
                @Html.DisplayName("State")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applications[0].University)
            </th>
            <th>
                @Html.DisplayName("Course Name")
            </th>
        </tr>

        @foreach (var item in Model.Applications)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.University)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h3>You haven't applied yet</h3>
}

<p>
    @Html.ActionLink("Edit Profile", "Edit", "Applicant", new { id = Model.ApplicantId }, null) |
    @if (Model.CanAddApplications)
    {
        @Html.ActionLink("Create New Application", "University", "Apply", new { applicantId = Model.ApplicantId }, null)
    }
    else
    {
        @Html.Raw(Model.CanNotAddApplicationsReason)
    }
</p>
